# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
.env

venv/
instance/
logs/
backend/uploads/

# -------------------------
# Node / Frontend
# -------------------------
node_modules/
dist/
dist-ssr/

# Local environment files
*.local

# -------------------------
# Editor / IDE
# -------------------------
.vscode/*
!.vscode/extensions.json
.idea/

# -------------------------
# Operating System
# -------------------------
.DS_Store